<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <h2>Game Search</h2>
        </mat-expansion-panel-header>
        <form [(formGroup)]="gameSearchForm" class="example-form">
            <label for="playerNum">Number of Players</label>
            <mat-slider min="1" max="15" step="1" value="4" thumbLabel formControlName="numberOfPlayers"></mat-slider>
            <label for="playerNum">Min Time to Play</label>
            <mat-slider min="5" max="240" step="5" value="5" thumbLabel formControlName="minTimeToPlay"></mat-slider>
            <div>
                <button mat-button color="primary" (click)="search()">Gimmie Games</button>
            </div>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="filteredGameList.length >0">
        <mat-expansion-panel-header>
            <h2>Results: {{filteredGameList.length}}</h2>
        </mat-expansion-panel-header>
        <mat-card class="example-card" *ngFor="let game of filteredGameList">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{game.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Avg Play Time: {{game.playingTime}}
                <img mat-card-image src="{{game.image}}" alt=" ">
            </mat-card-content>

        </mat-card>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Settings
        </mat-expansion-panel-header>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="{{userName()}}" (change)="setLocalUserName($event.srcElement.value)">
        </mat-form-field>
        <p>You may need to refresh after setting your name. Use edwwalter if you don't have one and it doesn't default to it</p>
    </mat-expansion-panel>
</mat-accordion>