<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <h2>Game Search</h2>
        </mat-expansion-panel-header>
        <form [(formGroup)]="gameSearchForm" class="example-form">
            <label for="playerNum">Number of Players</label>
            <mat-slider min="1" max="20" step="1" value="10" vertical thumbLabel formControlName="numberOfPlayers"></mat-slider>
            <label for="playerNum">Min Time to Play</label>
            <mat-slider min="10" max="120" step="10" value="10" thumbLabel formControlName="minTimeToPlay"></mat-slider>
            <div>
                <button mat-button color="primary" (click)="search()">Gimmie Games</button>
            </div>
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Results {{filteredGameList.length}}
        </mat-expansion-panel-header>
        <mat-card class="example-card" *ngFor="let game of filteredGameList">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{game.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{game.image}}" alt=" ">
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>